.singlepost{
    flex:9;
    margin: 20px;
}
.singlePostImage{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostItem{
    padding:20px;
    padding-right: 0;
}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family:"Roboto sans-serif";
    font-size:28px;
      
} 

.editPost{
    float:right;
    font-size:16px;
    text-align: center;
}
.editicon{
    margin-left:10px;
    cursor: pointer;
}
.editicon:first-child{
    color:teal;

}
.editicon:last-child{
    color:tomato;

    
}
.singlePostInfo{
    margin-bottom:20px;
    display:flex;
    justify-content: space-between;
    color:#b39656;
    font-family: Roboto sans-serif;
    margin:20px;
}
.singlePostDescr{
    color:#666;
    font-size:18px;
    line-height: 25px;
    margin: 20px;
}
.singlePostDescr:first-letter{
    margin-left: 10px;
    font-size: 43px;
    font-weight:700;
}