.login-container {
  width: 53%;
  margin-top: 154px;
  margin-left: 320px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.row {
  /* background-color: aliceblue; */
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.part-login {
  background-color: #321fdbcb;
}

.part-login h2 {
  padding-top: 60px;
  color: white;
}
.part-login p {
  color: white;
  font-size: 17px;
  padding: 10px;
}
