.searchBar {  
    max-width: 70rem;  
    margin: 5rem auto; 
  
  }  
.searchOption{
  background-color: #4ab0f0; 
  border-radius:5px;
  padding:2px;
 
}
.droplist{
  margin-left: 250px;
  width:250px;
  height: 40px;
  /* margin-top:5px; */

}
.categoryTitle{
  margin-left:70px;
  /* margin-top:5px; */
  color:white;
  
  font-size:30px;
  font-weight: 500;
  font-family: 'Josefin Sans', serif;
}

.catDescription{
  padding-left: 50px;
  font-size: 12px;
  width: 300px;
}
@media screen and (max-width: 600px) {
  .searchBar {  
    max-width: 20rem;  
    margin: 5rem auto; 
  
  
  }
 
  .droplist{
    margin-left:80px;
    width:250px;
    height: 40px;
 
  
  }
}