.publish{
    margin-top:50px;
    margin-left: 150px;

}
.publishImage{
    width: 60%;
    height: 350px;
    object-fit: cover;
    justify-items: center;
    margin-left: 150px;
}
.publishForm{
    position: relative;
}
.formGroup{
    display: flex;
    align-items: center;
}
.plusicon{
    width:20px;
    height: 20px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #ddd
}
.write{
    font-size:30px;
    border:none;
     padding:20px;
    width: 70vw;
}
.writeStory{
    font-size:20px;
}
.writeSubmit{
    position:absolute;
    top:20px;
    right:50px;
    color:white;
    background-color: teal;
    padding:10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}